// Classes for PageWrapper

// basic page
.page-wrapper {
  will-change: opacity;
  transition: opacity $page-transition-time ease;
}

// not visible page
.page-0 {
  opacity: 0;
  z-index: 1;
}

// visible page
.page-1 {
  opacity: 1;
}
