/* Reference
 * - http://marksheet.io/css/reset.css
 * - https://github.com/necolas/normalize.css/
 * - https://code.tutsplus.com/tutorials/quick-tip-create-your-own-simple-resetcss-file--net-206
 * - http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
 * - https://meyerweb.com/eric/tools/css/reset/
 */

// BASIC RESETS
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

// Reset all elements to normalized settings
html, body, div,
nav, header, main, section, footer,
h1, h2, p, a, img,
form, input,
ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
}
:focus {
  outline: none;
}

// https://gist.github.com/murtaugh/5247154 - Cursor reset?

// HTML5 fixes for old browsers
main, nav, section, header, footer {
  display: block;
}

b, strong {
    font-weight: bold;
}

// link resets
a {
  color: inherit;
  text-decoration: none;
  &:hover, &:link, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

// input resets
button, input {
  margin: 0;
}

// button resets
button {
    overflow: visible;
    border: 0;
    padding: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    text-align: inherit;
    text-transform: inherit;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}

// image resets
img {
    max-width: 100%;
    height: auto;
}

