html {
  background-color: $color-bg;
  color: $color-font;
  font-family: $font-primary;
  line-height: $line-height-primary;
  height: 100%;
}

body {
  font-size: 1rem;
  // figure out line-height, weight, etc.
  height: 100%;
  min-height: 100%;
}

::selection {
  background: $color-selection;
  text-shadow: none;
}

a {
  transition: all 0.3s ease;
  color: $color-link;
  cursor: pointer;
  &:link, &:visited {
    color: $color-link;
  }
  &:hover, &:focus {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-pressed;
  }
}
