@import url(https://fonts.googleapis.com/css?family=Lato);
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

// Site Colors
$color-primary: blue;
$color-accent: red;
$color-bg: white;
$color-selection: lighten(#2b669b, 30%);

// Font Colors
$color-font: black;

$color-link: #2b669b;
$color-link-hover: darken($color-link, 10%);
$color-link-pressed: darken($color-link, 25%);

$color-nav-link: black;
$color-nav-link-hover: $color-nav-link;
$color-nav-link-pressed: $color-nav-link;

// Fonts
$font-family-primary: Lato, sans-serif;
$font-family-headings: 'Zilla Slab', monospace;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-primary: 1.5;

$font-size-logo: 1.4rem;
$font-size-h: 3rem, 1.5rem, 1.2rem;

// Transitions
$transition-time: 0.25s;
$page-transition-time: 0.18s;
$navlink-transition-time: 0.25s;

// Responsive Breakpoints
$screen-gap: 24px;
$screen-tablet: 769px;
$screen-desktop: 960px + (2*$screen-gap);
$screen-widescreen: 1152px + (2*$screen-gap);
$screen-fullhd: 1344px +  (2*$screen-gap);

@mixin mobile { // mobile screens
  @media screen and (max-width: $screen-tablet - 1px) {
    @content;
  }
}

@mixin tablet { // tablet and larger
  @media screen and (min-width: $screen-tablet), print {
    @content;
  }
}

@mixin tablet-only { // only tablet
  @media screen and (min-width: $screen-tablet) and (max-width: $screen-desktop - 1px) {
    @content;
  }
}

@mixin touch { // mobile and tablet
  @media screen and (max-width: $screen-desktop - 1px) {
    @content;
  }
}

@mixin desktop { // desktop and up
  @media screen and (min-width: $screen-desktop) {
    @content;
  }
}

@mixin desktop-only { // only desktop
  @media screen and (min-width: $screen-desktop) and (max-width: $screen-widescreen - 1px) {
    @content;
  }
}

@mixin widescreen { // widescreen and up
  @media screen and (min-width: $screen-widescreen) {
    @content;
  }
}

@mixin widescreen-only { // only widescreen
  @media screen and (min-width: $screen-widescreen) and (max-width: $screen-fullhd - 1px) {
    @content;
  }
}

@mixin fullhd { // full-hd and up
  @media screen and (min-width: $screen-fullhd) {
    @content;
  }
}
