{
  "presets": [
    "react",
    [
      "env",
      {"modules":false}
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["prismjs", {
      "languages": ["javascript", "bash"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}
