// Content container classes

// Centers page with a $screen-gap padding on left and right
.container-fluid {
  margin: 0 auto;
  padding-left: $screen-gap;
  padding-right: $screen-gap;
}

// Centers page with a fixed with for each breakpoint
.container {
  @extend .container-fluid;
  @include tablet {
    max-width: $screen-tablet - (2 * $screen-gap);
    width: $screen-tablet - (2 * $screen-gap);
  }
  @include desktop {
    max-width: $screen-desktop - (2 * $screen-gap);
    width: $screen-desktop - (2 * $screen-gap);
  }
  @include widescreen {
    max-width: $screen-widescreen - (2 * $screen-gap);
    width: $screen-widescreen - (2 * $screen-gap);
  }
  @include fullhd {
    max-width: $screen-fullhd - (2 * $screen-gap);
    width: $screen-fullhd - (2 * $screen-gap);
  }
}
