// Styles related to the footer

// Makes sure the footer stays at the bottom of the screen
main {
  &.home {
    height: 100%;
  }
  flex: 1;
}

// Footer styling
footer {
  text-align: center;
  padding: 1rem;
  color: $color-nav-link;
}
