.navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: $color-primary;

  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  &.home {
    background-color: transparent;
    box-shadow: none;
  }

  a {
    // padding: 0px 10px;
    // margin: 0px 10px;
    flex-grow: 0;
    flex-shrink: 0;
    color: $color-nav-link;
    position: relative;
    &:link, &:visited {
      color: $color-nav-link;
    }
    &:hover, &:focus {
      color: $color-nav-link-hover;
    }
    &:active, &.active {
      color: $color-nav-link-pressed;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: stretch;
  // seem useless ?
  flex-shrink: 0;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  #logo {
    border-right: 2px solid rgba(black, 0.1);
    font-size: 1.4rem;
  }
}

.navbar-menu {
  // position: relative;
  // top: -100px;
  transition: 0.3s all ease;
  display: none;
  .navbar-start .navbar-item a {
    &:after, &:before {
      position: absolute;
      opacity: 0;
      font-size: 120%;
      top: -3px;
      transition: 0.3s all ease;
    }
    &:before {
      content: "(";
      left: 0px;
      transform: translateX(15px);
    }
    &:after {
      content: ")";
      right: 0px;
      transform: translateX(-15px);
    }
    &:hover:before, &.active:before {
      opacity: 1;
      transform: translateX(-5px);
    }
    &:hover:after, &.active:after {
      opacity: 1;
      transform: translateX(5px);
    }
  }
}

// navbar burger variables
$line-height: 2px;
$line-between: 2;
$line-length: 20px;

.navbar-burger {
  margin-right: 1rem;
  cursor: pointer;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: relative;
  height: (3+2*$line-between)*$line-height;
  width: $line-length;
  span {
    background-color: $color-nav-link;
    display: block;
    height: $line-height;
    // margin-left: -7px;
    position: absolute;
    left: 0;
    // top: 50%;
    border-radius: $line-height;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    width: 100%;
    transform: rotate(0deg);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: (1+$line-between)*$line-height;
    }
    &:nth-child(3) {
      top: (2+2*$line-between)*$line-height;
    }
    // &:active {
    //   background-color: $color-link-pressed;
    // }
  }
  &:hover, &:focus {
    span {
      background-color: $color-nav-link-hover;
    }
  }
  // Modifers
  &.is-active {
    span {
      background-color: $color-nav-link-pressed;
      &:nth-child(1) {
        top: 2*$line-height;
        transform: rotate(135deg);
        // transform-origin: left top;
      }
      &:nth-child(2) {
        opacity: 0;
        left: -1*$line-length;
      }
      &:nth-child(3) {
        top: 2*$line-height;
        transform: rotate(-135deg);
        // transform-origin: left bottom;
      }
    }
  }
}

.navbar-item {
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: center;
}

@include touch {
  .navbar-menu {
    &.is-active {
      top: 0px;
      display: block;
    }
  }
}

@include desktop {
  nav, .navbar-menu, .navbar-start, .navbar-end {
    display: flex;
    align-items: stretch;
  }
  .navbar-burger {
    display: none;
  }
  // nav a {
    // align-items: center;
    // display: flex;
  // }
  // .navbar-brand {
  // }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
}
