.navbar {
  // basic navbar styling
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 1rem;
  background-color: rgba(black, 0.1);
  font-weight: $font-weight-bold;
  display: flex;
  &.home {
    background-color: rgba(black, 0.1);
    box-shadow: none;
  }
  // basic navlink styling
  a {
    color: $color-nav-link;
    position: relative;
    &:link, &:visited {
      color: $color-nav-link;
    }
    &:hover, &:focus {
      color: $color-nav-link-hover;
    }
    &:active, &.active {
      color: $color-nav-link-pressed;
    }
  }
}

.navbar-item { // give navbar links room around them without creating linked area
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  // max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  #logo {
    font-size: 1.4rem;
    font-family: 'Zilla Slab', monospace;
  }
}

// navbar burger variables
$line-height: 2px;
$line-between: 2;
$line-length: 20px;

.navbar-burger {
  flex-shrink: 0; // make sure it isn't lost on ultra small screens
  cursor: pointer;
  display: block;
  position: relative;
  height: (3+2*$line-between)*$line-height;
  width: $line-length;
  span {
    background-color: $color-nav-link;
    display: block;
    height: $line-height;
    position: absolute;
    left: 0;
    border-radius: $line-height;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    width: 100%;
    transform: rotate(0deg);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: (1+$line-between)*$line-height;
    }
    &:nth-child(3) {
      top: (2+2*$line-between)*$line-height;
    }
  }
  &:hover, &:focus {
    span {
      background-color: $color-nav-link-hover;
    }
  }
  // When clicked
  &.is-active {
    span {
      background-color: $color-nav-link-pressed;
      &:nth-child(1) {
        top: 2*$line-height;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: -1*$line-length;
      }
      &:nth-child(3) {
        top: 2*$line-height;
        transform: rotate(-135deg);
      }
    }
  }
}

.navbar-right {
  display: flex;
}

.navbar-menu {
  // mobile-first: menu starts hidden
  display: none;
  transition: 0.3s all ease;
  .navbar-item a { // sliding line effect under menu links
    overflow: hidden;
    &:after, &:before {
      position: absolute;
      transition: 0.3s all ease;
      content: "";
    }
    &:before {
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      transform: translateX(-100%);
      background-color: $color-nav-link-hover;
    }
    &:hover:before, &.active:before {
      transform: translateX(0px);
      background-color: $color-nav-link-pressed;
    }
  }
}

// responsiveness
@include touch {
  .navbar-menu {
    &.is-active {
      top: 0px;
      display: block;
    }
  }
}

@include desktop {
  .navbar-menu {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0.75rem;
  }
  .navbar-left {
    #logo {
      border-right: 2px solid rgba(black, 0.1);
      padding-right: 1.5rem;
    }
    flex:  initial;
  }
}
