.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  &.is-centered {
    justify-content: center;
  }
  flex-wrap: wrap;
  &:last-child {
    margin-bottom: -0.75rem;
  }
  &:not(:last-child) {
    margin-bottom: -0.75rem;
  }
  @include tablet {
    display: flex;
  }
  @include mobile {
    &.is-mobile {
      display: flex;
    }
  }
}

.column {
  display: block;
  padding: 0.75rem;
  @include mobile {
    @for $i from 1 through 12 {
      &.is-#{$i}-mobile {
        flex: none;
        width: ($i / 12) * 100%
      }
      &.is-offset-#{$i}-mobile {
        margin-left: ($i / 12) * 100%
      }
    }
  }
  @include tablet-only {
    @for $i from 1 through 12 {
      &.is-#{$i}-tablet {
        flex: none;
        width: ($i / 12) * 100%
      }
      &.is-offset-#{$i}-tablet {
        margin-left: ($i / 12) * 100%
      }
    }
  }
  @include desktop {
    @for $i from 1 through 12 {
      &.is-#{$i}-desktop {
        flex: none;
        width: ($i / 12) * 100%
      }
      &.is-offset-#{$i}-desktop {
        margin-left: ($i / 12) * 100%
      }
    }
  }
}
